
/* Button */
.u-btn {
    /*display: inline-block;*/
    display: table;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
  }

a {
  color: #259bca;
  text-decoration: none;
}
a:hover {
  color: #0676a4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}

.u-clearfix:after {
  clear: both;
}

  .u-image
    {
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  img.u-image {
    overflow: hidden;
  }

  .u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto;
  }
  
  @media (min-width: 1200px) {
    .u-sheet {
      width: 1140px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .u-sheet {
      width: 940px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .u-sheet {
      width: 720px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .u-sheet {
      width: 540px;
    }
  }
  @media (max-width: 575px) {
    .u-sheet {
      width: 340px;
    }
  }

  .u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
  }

  .u-container-layout > * {
    position: relative;
  }
  .u-expanded {
    position: absolute 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .u-expanded-width {
    width: 100% 
    margin-left: 0 
    margin-right: 0 
  }
 
  .u-valign-middle
  {
    display: flex;
    flex-direction: column;
  }
 

  .u-layout-row{
    display: flex;
  }
  /* .u-layout-col, */
  .u-layout-row {
    flex: 1 1 100%;
  }
  .u-layout-row > * {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
  }

  @media (min-width: 1200px) {
    .u-absolute-hcenter-xl {
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .u-absolute-hcenter-lg {
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .u-absolute-hcenter-md {
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .u-absolute-hcenter-sm {
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 575px) {
    .u-absolute-hcenter-xs {
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 767px) {
    .u-absolute-hcenter,
    .u-absolute-hcenter-sm,
    .u-absolute-hcenter-xs {
      max-width: 100%;
    }
  }
  .u-absolute-vcenter {
    top: 50% !important;
    transform: translateY(-50%);
  }
  @media (min-width: 1200px) {
    .u-absolute-vcenter-xl {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .u-absolute-vcenter-lg {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .u-absolute-vcenter-md {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .u-absolute-vcenter-sm {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
  @media (max-width: 575px) {
    .u-absolute-vcenter-xs {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
  @media (max-width: 767px) {
    .u-layout-wrap .u-layout {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .u-layout-wrap .u-layout .u-layout-cell {
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
  .u-sheet.u-content-layout {
    display: flex;
    flex-wrap: nowrap;
  }
  @media (max-width: 991px) {
    .u-sheet.u-content-layout {
      flex-direction: column;
      align-items: center;
    }
  }
  /* .u-sidebar {
    flex: 0 0 300px;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
  }
  .u-sidebar:first-child {
    border-left-width: 0;
  }
  .u-sidebar:last-child {
    border-right-width: 0;
  }
  @media (max-width: 991px) {
    .u-sidebar {
      flex: 1;
    }
  }
  .u-sidebar:first-child.u-indent-100 {
    margin-right: 100px;
  }
  .u-sidebar:last-child.u-indent-100 {
    margin-left: 100px;
  } */

  html {
    font-size: 16px;
  }
  
  h1,
  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
 
  p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .u-align-center {
    text-align: center;
  }


.u-body {
    font-family: 'Open Sans',sans-serif;
  }
  h1,
  h2 {
    font-family: Roboto,sans-serif;
  }

  
  .u-image {
    color: #111111;
  }
  .u-shading
  {
    color: #ffffff;
  }
  .u-body {
    color: #111111;
    background-color: #ffffff;
  }



  



        /** common-rules **/
        h1.u-title
        {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }

        h1:not(.u-title)
        {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }

        p.u-large-text
        {
        font-size: 1.25rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p.u-small-text
        {
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p:not(.u-text-variant)
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }

.u-btn
        {
        background-color: #478ac9;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 20px;
        }


.u-header {
    background-image: none;
  }
  
  .u-header .u-sheet-1 {
    min-height: 107px;
  }
  
  .u-header .u-image-1 {
    margin: 22px auto 0 -24px;
  }
  
  .u-header .u-logo-image-1 {
    max-width: 88px;
    max-height: 88px;
  }
  

  
  .u-header .u-nav-1 {
    font-size: 1rem;
    letter-spacing: 0px;
  }
  
  .u-header .u-nav-2 {
    font-size: 1.25rem;
  }
  @media (max-width: 1199px) {
    .u-header .u-image-1 {
      margin-left: 0;
      width: 64px;
      height: 32px;
    }
  
  }
  @media (max-width: 991px) {
    .u-header .u-image-1 {
      width: auto;
    }
  }
  @media (max-width: 767px) {
    .u-header .u-image-1 {
      width: auto;
      height: 32px;
    }
  }
  @media (max-width: 575px) {
    .u-header .u-image-1 {
      width: 64px;
    }
  }
  .u-footer {
    background-image: none;
  }
  
  .u-footer .u-sheet-1 {
    min-height: 120px;
  }
  
  .u-footer .u-text-1 {
    width: 417px;
    margin: 49px auto;
  }
  @media (max-width: 1199px) {
    .u-footer .u-sheet-1 {
      min-height: 99px;
    }
  }
  @media (max-width: 991px) {
    .u-footer .u-sheet-1 {
      min-height: 76px;
    }
  }
  @media (max-width: 767px) {
    .u-footer .u-sheet-1 {
      min-height: 57px;
    }
  }
  @media (max-width: 575px) {
    .u-footer .u-sheet-1 {
      min-height: 36px;
    }
  
    .u-footer .u-text-1 {
      width: 340px;
    }
  }
  
   /*base-font-size*/ 
   html { font-size: 16px; }
   /*base-font-size*/
  
   .u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ScreenShot2021-05-04at1.16.16AM.png");
    background-position: 50% 50%;
  }
  
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    border-style: none;
    margin: 219px auto 0;
    padding: 10px 118px 10px 117px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 117px 346px 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 30px 56px 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 246px;
      margin-right: 246px;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 640px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 324px;
    }
  
    .u-section-1 .u-text-1 {
      width: 448px;
      margin-top: -312px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: 16px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 480px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 302px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
      width: 340px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-2 .u-image-1 {
    min-height: 400px;
    background-image: url("images/48563239936_7ec5628fa2_o-860x375.jpeg");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 400px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 116px 118px 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 430px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      position: relative;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 330px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 330px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 68px;
      margin-right: 68px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 353px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 253px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 580px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 380px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 439px;
    }
  
    .u-section-2 .u-image-1 {
      min-height: 239px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  }